.card{
    &--pink-background{
        background-color:#FFE2DE;
    }
    &--lightgreen-background{
        background-color:#C4E769;
    }
    &--lightblue-background{
        background-color: #62D0DF;
    }
    &--acvamarin-background{
        background-color: #0052C1;
    }
}