.header{
    background-color:#F4F9E2;
    &__wrapper{
        width: 1180px;
        margin: 0 auto;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        padding-top: 27px;
        margin-bottom: 187px;
    }
    &__menu{
        display: flex;
        flex-direction: row;
    }
    &__btn{
        width: 145px;
        height: 50px;
    }
    &__content{
        display: flex;
    }
    &__left-block{
        width: 484px;
    }
    &__title{
        font-family: "LarsseitExtBold", sans-serif;
        font-size: 48px;
        line-height: 53px;
        letter-spacing: -0.035em;
        color: #22356F;
    }
    &__text{
        font-family: "LarsseitMedium";
        font-size: 24px;
        line-height: 42px;
        color: #22356F;
        margin-bottom: 63px;
    }
    &__wrap-img{
        background-image: url("../images/image/linkedin-sales-navigator-406825.svg");
        border-radius:40%;
        -webkit-border-radius:40%    ;
        -moz-border-radius:40%    ;
        -ms-border-radius:40%    ;
        -o-border-radius:40% ;
        overflow: hidden;
        float:left;
        margin:.5em 10px .5em 0;
        position:relative; /* this is important too */
        border:1px solid #ccc;
        width:545px;
        height:808px;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    }
    // &__image{
    //     width: 100%;
    //     object-fit: cover;
    //     position:absolute;
    //     top:-40px;
    //     left:-50px;
    //     border-radius:20% 50% 50% 50% / 60% 40% 80% 60%;
    // }
}

