@import "./abstracts/mixins";

@font-face{
    font-family: "LarsseitMedium";
    src: url("./../fonts/Larsseit-Medium.ttf") format("ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: "LarsseitThin";
    src: url("./../fonts/Larsseit-Thin.ttf") format("ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: "LarsseitExtBold";
    src: url("./../fonts/Larsseit-ExtraBold.ttf") format("ttf");
    font-style: normal;
    font-weight: 800;
}

@font-face{
    font-family: "LarsseitLight";
    src: url("./../fonts/Larsseit-Light.ttf") format("ttf");
    font-style: normal;
    font-weight: 300;
}



*{
    // border: 1px solid red;
}

a{
    // display: block;
}

@import "./normalize";
@import "./components/button";
@import "./header";
@import "./logo";
@import "./menu";

@import "./why";
@import "./about";
@import "./card";
@import "./main";
@import "./grid-card";
@import "./indent";
@import "./also-know";
@import "./smile";
@import "./layout/footer";