.btn{
    &--blue-background{
        font-family: "LarsseitMedium", sans-serif;
        font-size: 14px;
        line-height: 14px;
        align-items: center;
        color: #FFFFFF;
        background-color:#62D0DF;
        border:none;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    &--orange-background{
        font-family: "LarsseitMedium", sans-serif;
        font-size: 16px;
        line-height: 23px;
        align-items: center;
        color: #FFFFFF;
        background-color:#F9B640;
        margin-right: 38px;
    }
    &--orange-text{
        font-family: "LarsseitMedium", sans-serif;
        font-size: 16px;
        line-height: 23px;
        align-items: center;
        color: #F9B640;
    }
}