.header{
    background: linear-gradient(213.71deg, #FFFFFF 11.23%, #F4F9E2 48.4%);
    // display: flex;
    // justify-content: end;
    // background-position:right;
    // background-repeat: no-repeat;
    // background-size: auto 100%;
    // position:relative;
    // overflow:hidden;
    //url("../images/image/linkedin-sales-navigator-406825__new.png")
    // &::before{
    //     content:url(../images/image/Rectangle.svg);
    //     position:absolute;
    //     left: 51%;
    //     top: -1%;
        // z-index: -1;
    
        // clip-path: ellipse(40% 50% at 50% 50%);
        // // clip-path: inset(0 20% 0 10%);
        // width:91%;
        // height:79%;
        // border-radius:20% 50% 50% 50% / 60% 40% 80% 60%;
        // transform: rotate(122deg);
        // box-shadow: 0px 0px 0px 100px red;
        // -webkit-transform: rotate(122deg);
        // -moz-transform: rotate(122deg);
        // -ms-transform: rotate(122deg);
        // -o-transform: rotate(122deg);
        // url("../images/image/linkedin-sales-navigator-406825.svg")
        // -webkit-border-radius:20% 50% 50% 50% / 60% 40% 80% 60%;
        // -moz-border-radius:20% 50% 50% 50% / 60% 40% 80% 60%;
        // -ms-border-radius:20% 50% 50% 50% / 60% 40% 80% 60%;
        // -o-border-radius:20% 50% 50% 50% / 60% 40% 80% 60%;
    .container{
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__wrapper{
        // background-color:#F4F9E2;
        // width: 77.5%;
        // margin: 0 auto 0 0;
        // z-index: 1;
    }
    &__inner{
        // max-width: 1080px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 28px;
        // margin: 0 auto 182px;
        margin-bottom: 182px;
    }
    &__menu{
        display: flex;
        flex-direction: row;

    }
    &__btn{
        width: 145px;
        height: 50px;
    }
}