.header{
    background: linear-gradient(90deg, #F4F9E2 77.6%, #fff 77.6% 77.7%);
    overflow:hidden;
    
    .container{
        max-width: 1097px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__wrapper{}
    &__top{
        display: flex;
        justify-content: space-between;
        padding-top: 28px;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        margin-right: -27px;

    }
    &__btn{
        width: 147px;
        height: 50px;
        margin-bottom: 164px;
        z-index: 10;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__left-block{
        width: 504px;
    }
    &__logo{
        margin-bottom: 38px;
    }
    &__title{
        font-family: "LarsseitExtBold", sans-serif;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: -0.07em;
        color: #22356F;
        margin-bottom: 59px;
    }
    &__text{
        font-family: "LarsseitMedium", sans-serif;
        font-size: 24px;
        line-height: 45px;
        color: #22356F;
        letter-spacing: 0.004em;
        margin-bottom: 51px;
    }
    &__wrap-img{
        // width: 545px;
        // height: 811px;
        // border-radius:40px;
        // overflow:hidden;
        // border: 1px solid red;
        // -webkit-border-radius:300px;
        // -moz-border-radius:300px;
        // -ms-border-radius:300px;
        // -o-border-radius:300px;
        // transform: rotate(241deg);
        // -webkit-transform: rotate(241deg);
        // -moz-transform: rotate(241deg);
        // -ms-transform: rotate(241deg);
        // -o-transform: rotate(241deg);
        // margin-top: -231px;
        // margin-right: -126px;
        // z-index: 5;
        // // position: relative;

    &__image{
            width: auto;
            height: 100%;
            margin: 0 auto;
            object-fit: none;
            object-position:  right bottom;
            transform: rotate(-241deg);
            -webkit-transform: rotate(-241deg);
            -moz-transform: rotate(-241deg);
            -ms-transform: rotate(-241deg);
            -o-transform: rotate(-241deg);
}

    }

}